<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset=utf-8"utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" type="image/x-icon" href="https://cdn.uviewui.com/uview/common/favicon.ico">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<!-- 正式發佈的時候使用，開發期間不啟用。↓ -->
        <script src="/static/common/js/touch-emulator.js"></script>
		<script>
            TouchEmulator();
		</script>
        <style>
            ::-webkit-scrollbar{
                display: none;
            }
        </style>
        <!-- 正式發佈的時候使用，開發期間不啟用。↑ -->
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px'
			})
		</script>
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.css" />
	</head>
	<body>
		<!-- 該文件為 H5 平台的模板 HTML，並非應用入口。 -->
		<!-- 請勿在此文件編寫頁面代碼或直接運行此文件。 -->
		<!-- 詳見文檔：https://uniapp.dcloud.io/collocation/manifest?id=h5-template -->
		<noscript>
			<strong>本站點必須要開啟JavaScript才能運行</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
		<script>
			/*BAIDU_STAT*/
		</script>
	</body>
</html>
